$deafult-font: "Roboto", "Open Sans", "Arial", sans-serif;

$black: #000;
$gray--text-light: #eaeaf0;
$gray--text: #8e8e98;
$gray--card: #1c1c1e;
$gray--card-hovered: #232327;
$gray--text-dull: #47474c;
$gray--input-field: rgba(142, 142, 152, 0.2);
$gray--input-field-selected: rgb(142, 142, 152, 0.3);
$gray--button: #47474c;
$gray--button-selected: rgba(71, 71, 76, 0.8);
$green-light: #25e197;
$yellow: #ffd233;
