.input__input-field {
  width: 100%;
  /* width: 60%; */
  background-color: $gray--input-field;
  border: 0;
  /* border-radius: 8px 8px 8px 8px; */
  border-radius: 0;
  outline: 0;
  padding-left: 16px;
  color: $gray--text-light;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.375px;
  transition: background-color 0.2s ease;
}

.input__input-field:hover {
  background-color: $gray--input-field-selected;
}

.input__input-field:focus {
  background-color: $gray--input-field-selected;
}
