.footer {
  border-top: 2px solid #151515;
  margin-top: 240px;
  /* margin-bottom: 60px; */
  /* padding-top: 60px; */
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    margin-top: 180px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer {
    margin-top: 210px;
  }
}