.label_place_footer {
  margin-bottom: 84px;
  margin-left: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .label_place_footer {
    margin-top: 30px;
    margin-bottom: 184px;
  }
}